.sub5
{
    width: 1500px;
    margin-top: 10px;
    display: flex;
}
.sub5-1
{
    margin-top: 20px;
    width:50%;
}
.sub5-2
{
    width:50%;
}
.sub5-1-1 img
{
    width: 190px;
    margin-top: 75px;
    margin-left: 60px;
}
.sub5-1-2-1 h1
{
    margin-top: 92px;
    margin-left: 60px;
    font-size: 40px;
}
.sub5-1-2-2
{
    padding: 2px 0px;
    margin-right: 271px;
    font-size: 18px;
    margin-left: 64px;
}
.sub5-1-3-1
{
    margin-left: 60px;
    margin-bottom: 4px;
    margin-top: 52px;
}
#email
{
    padding: 12px 4px;
    margin-right: 44px;
    margin-left: 57px;
    padding-right: 305px;
    border: none;
}
.sub5-1-3-2
{
    margin-left: 60px;
    margin-bottom: 4px;
}
#password
{
    padding: 12px 4px;
    margin-right: 44px;
    margin-left: 57px;
    padding-right: 305px;
    border: none;
}
#check
{
    height: 18px;
    width: 17px;
    margin-left: -5px;
}

.sub5-1-4-1
{
    display: flex;
    margin-left: 60px;
    margin-top: 40px; 
    font-size: 21px;
    gap: 8px;
}
.sub5-1-4-2
{
    color: #9e9fa3;
    margin: 18px 129px;
    margin-left: 51px;
}
#btn
{
    padding: 14px 196px;
    margin-left: 50px;
}
.sub5-1-5 img{
    margin-left: 169px;
    margin-top: 15px;
}
.sub5-1-6
{
    margin-left: 186px;
    font-size: 20px;
}
.sub5-2 img{
    position: fixed;
    width: 800px;
    margin-left: -45px;
    height: 685px;
}
#error
{
    margin-left: 220px;
    color: red;
}
#eye-open
{
    width: 20px;
    margin-left: -86px;
}